.room{
	position:absolute;
	top:50px;
	left:100px;
	width:800px;
}
.wide-room{
	position:absolute;
	top:50px;
	left:100px;
	width:1200px;
}
.rooms{
	width:800px;
}
.wide-rooms{
	width:1200px;
}
.avatar{
	width:70px;
}
.wide-avatar{
	width:100px;
}
.small-item{
/*	position:absolute;*/
	width:50px;
}
.item{
/*	position:absolute;*/
	width:80px;
}
.medium-item{
/*	position:absolute;*/
	width:200px;
}
.big-item{
/*	position:absolute;*/
	width:400px;
}
.huge-item{
/*	position:absolute;*/
	width:550px;
}
.avatars{
	position:absolute;
	top:500px;
	left:200px;
}
.inventory{
	position:absolute;
	left:40px;
	top:0px;
}
.container{
	position:absolute;
/*	border:2px solid #ccc;*/
	width:200px;
	height:200px;
}
.audio{
	width:5%;
}
.sound{
	position:absolute;
	left:80%;
	bottom:0%;
	width: 7%;
}